.ackrc
log/*.log
log/*.log*
tmp/**/*
tmp/*
coverage/*
coverage/**/*
.DS_Store
config/database.yml
db/development.sqlite3
db/*sqlite
*.swp
*.swo
*.swn
/public/javascripts/all.js
/public/system/
/public/system/*
/public/javascripts/cache/*
/public/stylesheets/cache
/public/stylesheets/cache/*
/public/stylesheets/base.css
/public/stylesheets/print.css
/public/stylesheets/ie.css
/public/stylesheets/all.css
bundle.css
bundle.css.filelist
bundle.js
bundle.js.filelist
.sass-cache/
.sass-cache/*
public/images/tmp
