= error_messages_for(:subcategory)
.form-container
  - form_for :subcategory, @subcategory, :url => { :action => "update" }, :html => { :multipart => true, :method => :put } do |form|
    .main-container
      %label{ :for => 'name'}
        Title
      = form.text_field :name
      %label{ :for => 'description'}
    .submit-container
      = submit_tag 'Edit'
.clear
