%ul#navigation
  %li=link_to "home", { :controller => "snippets", :action => "index"}, :class => "active"
  %li=link_to "new snippet", { :controller => "snippets", :action => "new"}
  %li
    %a{ :href=>'#'}
      categories
