%ul#navigation
  %li=link_to "home", { :controller => "pages", :action => "home"}, :class => "active"
  %li=link_to "find a snippet", { :controller => "categories", :action => "index"}
  %li=link_to "create a snippet", { :controller => "snippets", :action => "new"}
