.copy-container
  %h2
    Welcome to Snippets Binder. Have a look around and be useful for Pete's sake.
  %p
    Snippets_binder is a product by Isotope 11. Here you can find little snippets of code that will be useful to you and your projects and you can take them and use them. It makes development easier.
