%h2 Categories

%ul.snippet-lister
  - @categories.each do |category|
    %li.category= link_to(category.to_s, category_path(category))
    
%li= link_to "New Category", { :controller => "categories", :action => "new"}

