!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :content => "application/xhtml+xml; charset=UTF-8", "http-equiv" => "content-type" }
    %title Snippets Binder
    %link{ :href => "/stylesheets/base.css", :rel => "stylesheet", :type => "text/css" }
  %body
    - if flash[:error]
      = flash[:error]
    - if flash[:notice]
      = flash[:notice]
    #wrapper
      #header
        %h1
          %a
            %span
              snippets_binder by isotope11
        = render :partial => "shared/nav"
      = yield
